@font-face {
  font-family: "Baloo";
  src: url(Fontes/Baloo\ Bhaijaan.ttf);
}

@font-face {
  font-family: "Bebas Neue";
  src: url(Fontes/Bebas\ Neue.ttf);
}

:root {
    --fonte1: "Baloo", "Baloo Bhaijaan", "Segoe UI Black", sans-serif;
    --fonte2: "Bebas Neue", "Bahnschrift", sans-serif;
    --fonte3: "Segoe UI", sans-serif;
    --cor1: #43551a;
    --cor2: #97aa6c;
    --cor3: #c8d5ab;
    --branco: #ffffff;
    --preto: #000000;

    --altura-header: clamp(80px, 15vh, 120px);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body{
    scroll-behavior: smooth;
    scroll-padding-top: var(--altura-header);
    width: 100%;
    height: 100%;
  }

  body{
    padding-top: var(--altura-header);
  }

  a {
    text-decoration: none;
  }

  /* Estilo do Cabeçalho */
  .cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 10%;
    width: 100%;
    height: var(--altura-header);
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 2px 0px var(--preto);
    z-index: 1000;
    overflow: hidden;
  }

  /* Estilo da Logo */
  .logo {
    width: auto;
    height: 30vh;
    min-height: 100px;
  }

  /* Estilo do Menu de Navegação */
  .nav_menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    }

  .menu {
    list-style-type: none;
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--fonte1);
  }

  .menu_item {
    color: var(--cor1);
    position: relative;
    display: flex;
  }

  .menu_item:link,
  .menu_item:visited {
    color: var(--cor1);
  }

  .menu_item::before {
    content: "";
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--cor1);
    transition: 0.3s ease;
    position: absolute;
  }

  .menu_item:hover::before {
    width: 100%;
  }

  /* Botão de Contrate */

  .botao_contrate {
    font-family: var(--fonte1);
    background-color: var(--cor1);
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    border-radius: 1.5rem;
    display: flex;
    color: var(--branco);
    transition: 0.5s ease;
  }

  .botao_contrate a {
    color: var(--branco);
  }

  .botao_contrate:hover {
    transform: scale(1.1);
  }

  /* Botão Whatsapp e Instagram */
  .botao_whatsapp,
  .botao_instagram {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 5%;
    right: 2%;
    box-shadow: 0px 0px 3px 0px var(--preto);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
  }

  .botao_instagram {
    bottom: 15%;
  }

  .botao_whatsapp img,
  .botao_instagram img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }

  .botao_whatsapp:hover,
  .botao_instagram:hover {
    transform: scale(1.1);
  }

  /* Call to Action */
  .call_to_action {
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 5% 10%;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
  }

  .call_to_action_texto {
    font-family: var(--fonte2);
    font-size: 3rem;
    color: var(--branco);
    letter-spacing: 0.03rem;
  }

  .call_to_action_subtexto {
    font-family: var(--fonte1);
    font-size: 1.2rem;
    color: var(--cor3);
  }

  .call_to_action_botao {
    font-family: var(--fonte1);
    background-color: var(--branco);
    font-size: 1.2rem;
    color: var(--cor1);
    padding: 15px 30px;
    border-radius: 2rem;
    transition: 0.5s ease;
  }

  .call_to_action_botao:hover {
    transform: scale(1.1);
    background-color: var(--cor3);
  }

  /* Rodapé */

  .rodape {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--fonte3);
    font-size: 0.8em;
  }
  
  .rodape a {
    color: var(--branco);
  }