/* #region Menu Hamburguer */

/* Menu Hamburguer Lateral */

.menu_celular {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 15vh;
}

.menu_hamburguer {
  width: 30px;
  height:25px;
  display: none;
  /* z-index: 999; */
}

.menu_hamburguer div{
  display: block;
  background-color: var(--preto);
  height: 3px;
  width: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.menu_lateral {
  display: none;
  position: fixed;
  right: -75%;
  background-color: var(--branco);
  top: 0;
  width: 75%;
  height: 100vh;
  transition: 0.5s ease;
  z-index: 998;
}

.x {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.traco1, .traco2 {
  width: 100%;
  height: 3px;
  background-color: var(--preto);
  border-radius: 2px;
  transition: 0.3s;
}

.menu_lateral_ativo .traco1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu_lateral_ativo .traco2 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu_lateral_ativo {
  right: 0;
}

.menu_lateral_ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--fonte1);
  font-size: 2rem;
  height: 100%;
}

.overlay {
  opacity: 0.5;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 997;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
}

.overlay_ativo {
  display: block;
}

body.no_scroll{
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .cabecalho {
    display: none;
  }

  .menu_lateral {
    display: block;
  }

  .logo {
    width: auto;
  }

  .menu_hamburguer {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .menu_lateral {
    display: none;
  }

  .overlay {
    display: none;
  }

  .cabecalho {
    display: flex;
  }

  .menu_celular{
    display: none;
  }
}

/* #endregion */

/* #region Media Querie Geral */

@media screen and (max-width: 768px) {

  html,
  body {
    padding-top: 0;
    scroll-padding-top: 0;
  }

  body.no_scroll{
    overflow-x: hidden;
  }

  .rodape{
    font-size: 0.5rem;
    justify-content: space-evenly;
  }

  .botao_whatsapp,
  .botao_instagram {
    height: 8%;
    width: auto;
    aspect-ratio: 1;
  }
}

/* #endregion */